@font-face {
    font-family: 'iconfont';  /* project id 1522672 */
    src: url('//at.alicdn.com/t/font_1522672_86om6lvzoq7.eot');
    src: url('//at.alicdn.com/t/font_1522672_86om6lvzoq7.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1522672_86om6lvzoq7.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1522672_86om6lvzoq7.woff') format('woff'),
    url('//at.alicdn.com/t/font_1522672_86om6lvzoq7.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1522672_86om6lvzoq7.svg#iconfont') format('svg');
}

.iconfont {
    font-family: 'iconfont';
}

.iconfont-male::before {
    content: '\e615';
}
.iconfont-female::before {
    content: '\e607';
}

