/*全局Toast样式设置*/
.van-toast__text{
    line-height: 1.3rem;
    width: 5.5rem;
    height: 1.3rem;
    font-size: .7rem;
}

.van-dialog{
    width: 17rem;
    height: 6rem;
}

.van-dialog__footer .van-button--large{
    font-size: 1rem;
}

button.van-stepper__minus, button.van-stepper__plus{
    height: 1.8rem;
    flex: 1;
}
input.van-stepper__input{
    height: 1.8rem;
    flex: 2;
    font-size: 1.1rem;
}
.van-sidebar{
    width: 10rem;
    height: 32rem;
    overflow: auto;
}
.van-sidebar::-webkit-scrollbar{
    display:none
}
.van-sidebar-item{
    width: 5.8rem;
    text-align: center;
}
.van-sidebar-item__text{
    font-size: 1rem;
    padding: 1rem .5rem 1rem .5rem;

}
.van-tag{
    width: 2rem;
    height: 1rem;
    display: flex;
    justify-content: center;
    align-content: center;
}
.demo-tag .van-tag + .van-tag{
    font-size: 2rem;
}

div.van-grid-item{
    margin-top: 1rem;
}
div.van-grid{

}